<div class="container py-5 animate__animated animate__fadeIn">
  <div class="menu-card shadow-lg border-0 rounded-4 mx-auto text-center p-4">
    <h2 class="text-success mb-4">
      <i class="bi bi-recycle me-2"></i> Tech Reboot
    </h2>
      <button class="btn btn-outline-success menu-btn" routerLink="/componentes">
        <i class="bi bi-cpu me-2"></i> Registro de Componentes
      </button>

      <button class="btn btn-danger menu-btn" (click)="logout()">
        <i class="bi bi-box-arrow-right me-2"></i> Cerrar Sesión
      </button>
  </div>
</div>
